<%- include('partials/top.ejs') %> <%- include('partials/navbar.ejs') %>
<div class="container text-center">
  <h1>Add account</h1>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <form action="/add" method="post">
      <input
        class="form-control mb-3"
        type="text"
        placeholder="firstName"
        name="firstName"
      />
      <input
        class="form-control mb-3"
        type="text"
        placeholder="lastName"
        name="lastName"
      />
      <input
        class="form-control mb-3"
        type="email"
        placeholder="email"
        name="email"
      />
      <input
        class="form-control mb-3"
        type="number"
        placeholder="Deposit"
        name="deposit"
      />
      <input
        class="form-control mb-3"
        type="text"
        placeholder="Card"
        name="card"
      />
      <button class="btn btn-primary form-control">Add Account</button>
    </form>
  </div>
</div>
<%- include('partials/bottom.ejs') %>
